* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: brown;
    margin: 5rem  0;
    /* font-family: 'Bebas Neue', sans-serif; */
    /* font-family: 'Cedarville Cursive', cursive; */
    font-family: 'Roboto Slab', serif;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;   
}

.para{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.para > i{
    font-size: 20px;
    color: burlywood;
    padding: 10px 20px 4px;
}